
<div class="row question">
    <div class="col" style="width:40px">
  <form action='/posts/<%= @question.id %>/votes' method="POST">
    <input type="hidden" name="value" value="up">
    <input class="upVote button" type="submit" id="vote-btn" value="&#xf062;"></input>
  </form>
  <span class="net-votes"><%= @question.net_votes %></span>
  <form action='/posts/<%= @question.id %>/votes' method="POST">
    <input type="hidden" name="value" value="down">
    <input class="downVote button"type="submit" id="vote-btn" value="&#xf063;"></input>
  </form>
  </div>

    <div class="col">
<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>by: <%= @question.author.username %></p>
    </div>
</div>



<% if @question.comments.any? %>

<h3><em>Comments</em></h3>
  <ul>

    <% @question.comments.each do |comment|%>

      <li><%= comment.body %></li>
      <p>by: <%= comment.author.username %></p>

    <% end %>
  </ul>
<% end %>


<form action='/posts/<%=@question.id%>/comments' method="POST">
  <textarea name="body" placeholder="Enter Your Comment:"></textarea>
  <input type="submit" value="Add Comment">
</form>

<!-- ANSWER -->
<h2>Answers</h2>
<ul>
  <% @answers.each do |answer| %>
    <li><%= answer.body %></li>

    <form action='/posts/<%= answer.id %>/votes' method="POST">
      <input type="hidden" name="value" value="up">
      <input class="upVote button" type="submit" id="vote-btn" value="&#xf062;"></input>
    </form>
    <span class="net-votes"><%= answer.net_votes %></span>
    <form action='/posts/<%= answer.id %>/votes' method="POST">
      <input type="hidden" name="value" value="down">
      <input class="downVote button"type="submit" id="vote-btn" value="&#xf063;"></input>
    </form>

      <!-- COMMENTS -->
    <p>by: <%= answer.author.username %></p>
      <% if answer.comments.any? %>
<!-- need to add 2 buttons for voting -->
      <ul>
      <h3><em>Comments</em></h3>
        <% answer.comments.each do |comment|%>
          <li><%= comment.body %></li>
          <p>by: <%= comment.author.username %></p>
        <% end %>
      </ul>
      <% end %>

    <form action='/posts/<%=@question.id%>/comments' method="POST">
      <input type="hidden" name="answer_id" value="<%= answer.id %>">
      <textarea name="body" placeholder="Enter Your Comment:"></textarea>
      <input type="submit" value="Add Comment">
    </form>

  <% end %>
</ul>


<form action='/posts' method="POST">
  <input type="hidden" name="question_id" value="<%=@question.id%>">
  <textarea name="body" placeholder="Enter Your Answer:"></textarea>
  <input type="submit" value="Add Answer">
</form>


