<h1>Show Page</h1>

<%= @question.title %><br>
<%= @question.body %><br>
<ul>
<% @answers.each do |answer| %>
  <li><%= answer.body %></li>
    <ul>
      <% answer.comments.each do |comment|%>
      <li><%= comment.body %></li>
      <% end %>
    </ul>
<% end %>
</ul>


<form action='/posts' method="POST">
  <input type="hidden" name="question_id" value="<%=@question.id%>">
  <textarea name="body" placeholder="Enter Your Answer:"></textarea>
  <input type="submit" value="Add Answer">
</form>





