      <h2>Question</h2>

<div class="row question">
    <div class="col" style="width:40px">
  <form action='/posts/<%= @question.id %>/votes' method="POST">
    <input type="hidden" name="value" value="up">
    <input class="upVote button" type="submit" id="vote-btn" value="&#xf062;"></input>
  </form>
  <span class="net-votes"><%= @question.net_votes %></span>
  <form action='/posts/<%= @question.id %>/votes' method="POST">
    <input type="hidden" name="value" value="down">
    <input class="downVote button"type="submit" id="vote-btn" value="&#xf063;"></input>
  </form>


  </div>

    <div class="col">
<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>by: <%= @question.author.username %></p>
    </div>
</div>



<% if @question.comments.any? %>

<!-- <h4><em>Comments</em></h4>
 -->

 <ul>

    <% @question.comments.each do |comment|%>

      <p class="comment"><%= comment.body %> – by: <%= comment.author.username %></p>

    <% end %>
  </ul>
<% end %>


<input class="button primary whitetext" type="submit" id="comment-btn" value="Comment"></input>

<form action='/posts/<%=@question.id%>/comments' id="comment-form" method="POST">
  <textarea name="body" placeholder="Enter Your Comment:"></textarea>
  <input type="submit" class="primary whitetext" value="Add Comment">
</form>
<input class="button secondary whitetext" type="submit" id="answer-btn" value="Answer"></input>

<form action='/posts' method="POST" class="forms" id="answer-form">
  <input type="hidden" name="question_id" value="<%=@question.id%>">
  <textarea name="body" placeholder="Enter Your Answer:"></textarea>
  <input type="submit" value="Add Answer">
</form>
<!-- ANSWER -->
<h2>Answers</h2>

  <% @answers.each do |answer| %>
    <% if current_user == @question.author && !@question.best_answer_to_question %>
      <form action="/posts/<%=@question.id%>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="answer_id" value="<%=answer.id%>">
        <input class="button" type="submit" value="Best Answer!">
      </form>
    <%end%>

<div class="row answer">
    <div class="col" style="width:40px">

    <form action='/posts/<%= answer.id %>/votes' method="POST">
      <input type="hidden" name="value" value="up">
      <input class="upVote button" type="submit" id="vote-btn" value="&#xf062;"></input>
    </form>
    <span class="net-votes"><%= answer.net_votes %></span>
    <form action='/posts/<%= answer.id %>/votes' method="POST">
      <input type="hidden" name="value" value="down">
      <input class="downVote button"type="submit" id="vote-btn" value="&#xf063;"></input>
    </form>
    </div>
    <div class="col">

    <% if answer.best_answer%><p><strong>Best Answer</strong></p><%end%>
    <li><%= answer.body %> <br><br>by: <%= answer.author.username %></li>
  </div>
</div>

<ul>


<div class="subcomment">
<input class="button primary whitetext formzbutton" type="submit" id="comment-btn<%="#{answer.id}"%>" value="Comment"></input>

<form action='/posts/<%=@question.id%>/comments' class="formzform" id="comment-form<%="#{answer.id}"%>" method="POST">
  <textarea name="body" placeholder="Enter Your Comment:"></textarea>
  <input type="submit" class="primary whitetext" value="Add Comment">
</form>

  <% end %>
</ul>
</div>
